body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin:0px;
}
h1{
	font-size:175%;
}

section{
	margin:14px;
	border:1px solid black;
	background-color:gray;
}
section > div {
	padding:0px 15px;
	position:relative;
	float:right;
	text-align:center;
	border:1px solid black;
	font-size:125%;
	font-weight:bold;
}
section>p {
	margin-top:40px;
	padding:0px 12px;
}
@media(min-width:992px){
section{
	width:28.99999%;
	float:left;
}
}

@media(min-width:768px) and (max-width:991px){
section{
	width:45%;
	float:left;
}
section:last-child{
	width:93%;
}
}

@media(max-width:767px){
}

.chicken {
	background-color:#607D8B;
}
.beef {
	background-color:#4CAF50;
}
.sushi {
	background-color:#fdf5e6;
}